body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.linked-button{
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(/developer-portfolio/images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-part{
    background-image: url(/developer-portfolio/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 100px;
}
.heading-big{
    font-size: 45px;
}
.experience-area{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
}
.experience-part{
    background-image: url(/developer-portfolio/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.justified-paragragh{
    text-align: justify;
}
.exp-paragragh{
    padding: 20px;
}
#right-card{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan) 1;
}
#left-card{
    border-left: 10px solid;
    border-image: linear-gradient(salmon, tomato) 1;
}
footer p{
    text-align: center;
    padding-top: 50px;
}